@import "tailwindcss";

@theme {
  /* color tokens */
  --color-bg-main: #0b0f19;
  --color-bg-secondary: #121826;
  --color-primary: #7c5cff;
  --color-secondary: #00d9ff;
  --color-accent: #ff4d9d;
  --color-success: #00ff99;
  --color-danger: #ff5370;
  --color-warning: #ffc857;

  /* border radius */
  --radius-standard: 18px;
  --radius-large: 24px;
  --radius-pill: 999px;
}
